
html {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
  background-color: brown;
}

header {

  text-align: center;
  padding: 32px;
  background: #f00;
  color: rgba(250, 135, 10, 0.9);
}

article {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* criar 2 colunas */
section {
  flex: 45%;
  max-width: 50%;
  padding: 0 2px;
  margin: 10px;
}
 section img {
  margin-top: 8px;
  vertical-align: middle;
  /* /* (valores do primeiro raio) / canto superior esquerdo | 
  canto superior direito | canto inferior direito | canto inferior esquerdo */
  border: 4px solid black;
}

/*responsivo */
@media (max-width: 800px) {
    header {
       flex: 10%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
  section {
      display: flex;
  }
  .responsivo header {
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
  }
}
